@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

html{height: 100vh;}
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body {
    font-family: 'Poppins', sans-serif;
    background: url(https://wallpaperaccess.com/full/41607.jpg) center;
    height: auto;
    width: 100%;
    background-attachment: fixed;
    color: aliceblue;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;


}

.left-container {
    flex: 1;
    padding-top: 100px;
    padding-left: 100px;
}

.right-container {
    flex: 1;
    background-color: beige;
    color: black;
    border-radius: 15px 0 0 15px;
    background-size: inherit;
    height: 535px;
    padding: 15px 15px 15px 30px;
    overflow: scroll;
    margin: 30px 50px 30px 50px;
    line-height: 2;
    box-shadow: 1px 2px 10px 1px,1px 10px 15px 2px
}

#h1 {
    padding-left: 10px;
}
.btn {
    cursor: pointer;


}

#heading {
    font-size: 50px;
    margin: 2px;

}

.prod p,
.add p {
    margin-bottom: 5px;
    font-size: 20px;
}

.prod,
.add {
    padding-left: 8px;
}

#submit {
    cursor: pointer;
    margin-top: 30px;
    width: 100px;
    padding: 10px 5px;
    font-size: 20px;
    background-color: rgb(207, 201, 201);
    border: none;
    border-radius: 5px;
}

#submit:active {
    transform: translateY(4px);
}

@media (max-width:750px){
    /* html{overflow: hidden;} */
    body {
        font-family: 'Poppins', sans-serif;
        background: url(https://wallpaperaccess.com/full/3559962.jpg) center;
        height:auto;
        width: 100vw;
        margin: 0%;
        background-attachment: fixed;
        color: aliceblue;
        overflow: auto;
    }
    #submit{margin-top:20px}

    .left-container {
        flex: 1;
        padding-left: 40px;
        padding-top: 20px;
    } 

    .right-container {
        flex: 0.5;
        background-color: beige;
        color: black;
        border-radius: 15px 0 0 15px;
        max-width:auto;
        max-height:auto;
        padding: 15px 15px 15px 30px;
        overflow: scroll;line-height: 1.5;
        margin: 30px 30px 30px 20px;
        
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* padding-top: 10px; */
        /* padding-left: 0px; */
        /* overflow:hidden; */
        line-height: 1.5;
        width:100vw;
        /* height: 100vh; */
    }
}

@media (max-width: 650px) {
    body {
        font-family: 'Poppins', sans-serif;
        background:  url(https://wallpaperaccess.com/full/3559962.jpg) center;
        height: auto;
        width: 100%;
        background-attachment: fixed;
        color: aliceblue;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 10px;
        padding-left: 20px;
    }

    .right-container {
        /* flex:1; */
        background-color: beige;
        color: black;
        border-radius: 15px 0 0 15px;
        max-width:auto;
        max-height:auto;
        padding: 15px 15px 15px 30px;
        overflow: scroll;
        margin: 30px 30px;
        
    }

    .left-container {
        padding-top: 20px;
    }


    #heading {
        line-height: 50px;
    }

}

@media (max-width: 450px) {
    body {
        font-family: 'Poppins', sans-serif;
        background:  url(https://wallpaperaccess.com/full/3559962.jpg) cover;
        height: auto;
        width: 100%;
        background-attachment: fixed;
        color: aliceblue;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 10px;
        padding-left: 10px;
        overflow: hidden;
    }

    .right-container {
        /* flex:1; */
        background-color: beige;
        color: black;
        border-radius: 15px 0 0 15px;
        max-width:auto;
        max-height:auto;
        padding: 15px 15px 15px 30px;
        overflow: scroll;
        margin: 30px 30px;
        
    }

    .left-container {
        padding-left: 20px;
    }

    #h1 {
        padding-left: 20px;
    }

}

@media (max-height: 350px) {
    body {
        font-family: 'Poppins', sans-serif;
        background:  url(https://wallpaperaccess.com/full/3559962.jpg) no-repeat cover/center;
        background-size: 450px, 100vw;
        height: 100%;
        width: 100%;
        background-attachment: fixed;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 50px;
        padding-left: 10px;
    }

    .right-container {
        /* flex:1; */
        background-color: beige;
        color: black;
        border-radius: 15px 0 0 15px;
        max-width:auto;
        max-height:auto;
        padding: 15px 15px 15px 30px;
        overflow: scroll;
        margin: 30px 30px;
        
    }

    .left-container {
        padding-left: 20px;
    }
}
@media (max-height: 250px) {
    body {
        font-family: 'Poppins', sans-serif;
        background:  url(https://wallpaperaccess.com/full/3559962.jpg) no-repeat cover/center;
        background-size: 450px, 100vw;
        height: 100%;
        width: 100%;
        background-attachment: fixed;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 50px;
        padding-left: 10px;
    }

    .right-container {
        /* flex:1; */
        background-color: beige;
        color: black;
        border-radius: 15px 0 0 15px;
        max-width:auto;
        max-height:auto;
        padding: 15px 15px 15px 30px;
        overflow: scroll;
        margin: 30px 30px;
        
    }

    .left-container {
        padding-left: 20px;
    }
}
